/*BODY STYLE
====================================*/
body{
font-family: calibri;
	top: 20px;
	margin: auto;
  }
  .site-container {
    max-width: 1180px;
    margin: 0 auto;
}
/*RED BANNER
===================================*/
  .header {
	/*background-color: #4CAF50; /* Green background color */
	background-color: #990000; /*#ab4954;*/
	padding: 1px; /* Padding for content inside the header */
	text-align: center; /* Center text horizontally */
	font: italic 1.2rem "Fira Sans", serif;
	font-size: 10px;
	position: relative;
  }
  .header p{
	font: italic 1.2rem "Fira Sans", serif;
	font-size: 30px;
	color: #f4f6de;
  }
  /*Red Banner Image*/
  header::before,
  .header::after {
	content: '';
	position: absolute;
	top: 30px;
	width: 20%; /* Adjust width of image container */
	height: 50%;
	background-size: contain; /* Adjust background size */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent image from repeating */
  }
  

/* Left image */
.header::before {
  left: 0;
  background-image: url('../images/iwr-logo_180.png'); /* URL to left image */
}

/* Right image */
.header::after {
  right: 0;
  background-image: url('right-image.jpg'); /* URL to right image */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .main-cf {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }
    .member-img{
        display: none;
    }
	.header::before,
  .header::after {
    display: none; /* Hide images on smaller screens */
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .main-cf {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: 50%;
    }
}

  

  /*===================================*/

  .container {
	width: 100vw; /* Set width to full viewport width */
	height: 100px; /* Set height to full viewport height */
	background-image: url('../heidelberg.jpg');
	background-repeat: repeat; /* or repeat-x, repeat-y, no-repeat */
	background-size: 100% auto; /* Cover entire width, maintain aspect ratio */
	margin-bottom: 50px;
  }
  .container p {
	color: #f4f6de;
	margin: auto;
	font: italic 1.2rem "Fira Sans", serif;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
  }
.title-text{
text-decoration: none;
text-align: center;
margin: auto;
font: italic 1.2rem "Fira Sans", serif;
font-size: 40px;
}


ul{
	list-style-type: none;
}
ul li{
text-align: left;
}
a {
color: green;
text-decoration: none;
}
a:visited{
color: #458B74;
}
a:hover{
text-decoration: underline;
}


.rounded-button {
    background-color: #ab4954; /* Green background color */
    border: none; /* Remove default button border */
    color: white; /* Text color */
    padding: 15px 32px; /* Padding for content inside the button */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button behave like an inline element */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style on hover */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */
  }
  
  /* Hover effect */
  .rounded-button:hover {
    background-color: #458B74; /* Darker green on hover */
  }
  
/*CLEAR FLOATS
===================================*/
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
.cf{
	*zoom: 1; /*for IE6 and IE7*/
}

/*WHOLE PAGE
==================================*/
.main-cf{
/*width: 1180px;
margin: auto;
margin-top: 40px;
margin-left: 120px;*/
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

 ul li a, ul li a, .community ul li a{
text-decoration: none;
	color: black;
}
 ul li a{
color: green;
font-weight: bolder;
font-size: 100%;
}

 ul li a:hover, ul li a:hover, .community ul li a:hover{
color: #458B74;
font-weight: bold;
text-decoration: underline;
}

/*SIDE BAR
==================================*/
.sidebar{
	width: 290px;
	float: right;
}

.quote{
line-height: 0.9em;
border: 1px solid #DCDCDC;
border-radius: 5px;
padding: 5px;
margin: 5px;
 }
 .quote ul li{
 margin-left: -45px;
 padding-bottom: 20px;
 }

/*PHILOSOPHY
==================================*/
.philosophy{
width: 1180px;
float: left;
}
.col1, .col2, .col3, .col4{
width: 23%;
float: left;
padding-right: 5px;
margin: 20px 10px 20px 5px;
text-align: center;
}
.philosophy ul{
/*color: #777;*/
}
.col2 ul li, .col3 ul li, .col4 ul li{
list-style-type: disc;
}
.col1 h2, .col2 h2, .col3 h2, .col4 h2{
margin: 15px;
padding-bottom: 10px;
border-bottom: 1px solid #DCDCDC;
font-size: 1.2em;
color: green;
/*
color: #458B74;*/
}
/*DASHBOARD
==================================*/
.social {
width: 100%;
}
table.interactive{
border: 1px solid #DCDCDC;
border-radius: 5px;
width: 100%
}
table.interactive td{
text-align: center;
}
table.interactive td h3{
color: green;

}
table.interactive td ul li{
text-align: center;
display: inline;
padding: 40px;
} 	
/*TABLE
===================================*/
.newsupdates{
margin-top: 10px;
}
.newsupdates h3{
text-align: center;
color: #458B74;
border-bottom: 1px solid #DCDCDC;
margin-right: 25px;
padding-bottom: 20px;
}
.newsupdates table{
margin-left: -40px;

}
.newsupdates table td.date {
	color:  #828282;
}
.newsupdates table td {
	border-bottom:1px solid #ccc;
	background:#f4f6de;
	padding: 5px;
	}
.newsupdates table td a{
	text-decoration: none;
	}
.newsupdates table td a:hover{
	text-decoration: underline;
	color: #458B74;
	
}
.newsupdates table tr.alt td, .downloads table tr.alt td{
	background: #fff;
}
/*MORE
==================================*/
.more{
	text-decoration:none; 
	text-transform: capitalize; 
	font-style: italic;	
	font-size: 96%;	
	color: black;}


/*OTHER PAGES
==================================*/
#wrapper-search, #wrapper-search2, #comments{
	width: 1180px;
	margin: auto;
	 max-width: 1180px;}
	#wrapper-search{
	margin-top: 140px;
	border-top: 2px dotted ;	
	}
#wrapper-search2, #comments{
	width: 800px;
	margin-top: 160px;
	line-height: 1.6em;
	border-top: 2px dotted ;
	}
	#comments{
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: 15px;
	border: 45px solid #DCDCDC;
	border-radius: 5px;
	line-height: 1.6em;
	}

	/*
	===============================*/
footer{
text-align: center;
margin: 30px;
margin-bottom: 60px;
}
footer a{
padding: 10px;
}

